

 

  .form-control-comment {
    font-size: 16px;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  background-color: #4b4b4b;
  border: 1px solid rgba(128, 128, 128, 0.515) !important;
color: white;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(161, 161, 161, 0.158) !important;
  }
}

.headerDropdownComment {
    height: 50px;
    border-radius: 10px;
    background-color: #4b4b4b;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    right: 0;
    width: 110px !important;
    margin-top: 10px;
    z-index: 99;
    /* padding: 24px 14px; */

    span {
      padding: 10px 16px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.199);

    }

    div {
      padding: 7px 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(72, 199, 227, 0.1);
      }
    }
  }