.child-profile-card {
  background-color: #2a2a2a; /* Dark background */
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  min-width: 180px; /* Adjust as needed */
}

.child-profile-card.selected {
  border: 1px solid gold; /* Gold border for selected */
}

.child-profile-card .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent; /* Add border to match selected state */
}

.child-profile-card.selected .profile-image {
   border-color: gold; /* Gold border for image in selected card */
}


.child-profile-card .profile-info .profile-name {
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.child-profile-card .profile-info .profile-id {
  color: #bbb; /* Lighter color for ID */
  font-size: 0.9rem;
}

/* Add more child card styling */
.child-profile-card.add-child-card {
  border: 2px dashed #b1b1b1; /* Dashed border */
  color: #bbb; /* Text color */
  text-align: center;
}

.child-profile-card.add-child-card .add-icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #646464; /* Darker background for icon circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-profile-card.add-child-card svg {
    color: white; /* Plus icon color */
}

.child-profile-card.add-child-card .add-text {
    font-size: 0.9rem;
}
