.header {
  backdrop-filter: blur(9px);
  z-index: 1000;
  background-color: rgba(15, 15, 15, 0.4);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 24px 70px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding-right: 16px;
}

.navItem {
  color: #fff;
  letter-spacing: 0.32px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 12px;
  font-family: Agrandir, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (width <=640px) {
  .container {
    padding: 16px 20px;
  }

  .nav {
    display: none;
  }
}