.otp{
  width: 40px !important;
  height: 50px !important;
  font-size: 20px !important;
  border-radius: 6px;
  border: none;
  margin: 10px 4px;
  font-weight: 500 !important;
  display: flex;
  justify-content: center;
  background-color: #ababab5e;
color: white;
}

.login_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 4fr;
}

.bord {
  border: 1px solid #000;
}


.login_right_fields {



  background: url("./../../../assets//signinleftBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.forgot-password-link {
  color: var(--text-white);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  display: block; /* Make it a block element to control margin-top */
  text-align: right;
  margin-right: 20px; /* Align with input fields */
}

.forgot-password-link:hover {
  text-decoration: underline;
}




.login_left_fields {
  justify-self: center;
  align-self: center;
  overflow-y: hidden;
  position: relative;

}

.login-white {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  max-width: 200px;
  margin-left: 10px;
}

.main-logo-white {
  height: 140px;
  object-fit: contain;
}

.main-logo {
  height: 60px;
  object-fit: contain;
}

.login-heading {
  font-size: 1.5rem;
  font-weight: 500;

}

.copy-write-white {

  text-align: center;
  max-width: 400px;
  color: #fff;
  font-size: 24px;

}

.copy-write {
  font-size: 1rem;

}

.already-text{

 font-size: 16px;
 color: var(--text-white);
 cursor: pointer;


}
.login-text{
font-size: 16px;
cursor: pointer;
}
.terms-service-text{
  font-size: 14px;
  color: var(--text-white);
  font-weight: 250;
  /* position: absolute; */
  bottom: 20px;

}

.left-text-blur{
background-image: url(./../../../assets/background.png);
}
.logo-text{
  font-family: var(--secondary-font);
  font-size: 60px;

}
.logo-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
 font-weight: 200 !important;
 max-width: 300px;
}
.login-main-heading {
  color: var(--text-white);
  font-size: 32px;
  font-weight: 600;
}

.login-Description {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 200;
}

.back-btn{
  align-items: center;
  color: var(--text-white);

  h4{
    font-size: 16px;
  }
  cursor: pointer;

}
.swttabs{
  .primary-btn{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
    .glass-btn{
  padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    }
}

@media only screen and (min-width : 321px) and (max-width: 389px) {

  .login_container {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .login_left_fields {
      display: none;

    }

    .right-feild {
        display: flex;
        flex-direction: column;
        justify-content: center;
      padding-top: 15px !important;
      width: 90% !important;
    }
}




@media only screen and (min-width : 390px) and (max-width: 481px) {

  .login_container {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .login_left_fields {
      display: none;

    }

    .right-feild {
        display: flex;
        flex-direction: column;
        justify-content: center;
      padding-top: 40px !important;
      width: 90% !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) and (max-width: 768px) {

  .login_container {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .login_left_fields {
      display: none;

    }

    .right-feild {
        display: flex;
        flex-direction: column;
        justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      align-self: center;
      height: 100vh;
      width: 60% !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) and (max-width: 992px) {

  .login_container {
      display: grid;
      grid-template-columns: 1fr !important;
    }

    .login_left_fields {
      display: none;

    }

    .right-feild {
        display: flex;
        flex-direction: column;
        justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      align-self: center;
      height: 100vh;
      width: 60% !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) and (max-width: 1200px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) and (max-width: 1350px) {}