.text-message {
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.34);
  padding: 10px;
  background-color: var(--gray-color);
  resize: none;
  color: white;


  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--black50-color);
  }
}

.user-img {
    height: 40px !important;
    width: 40px !important;
  }

.text-message {
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #FFFFFF36 !important;
  padding: 10px;
  background-color: #4B4B4B;
  resize: none;


  &:focus {
    font-size: 16px;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #FFFFFF36 !important;
  }
}

.upload-img1 {
    position: relative;

    img {
      height: 40px;
      width: 40px;
      border-radius: 10px;
      border: 1px solid rgba(128, 128, 128, 0.459);
    }

    svg {
      position: absolute;
      right: -4px;
      top: -4px;
      background-color: white;
      border-radius: 100%;
      border: 1px solid rgba(128, 128, 128, 0.459);
      cursor: pointer;
    }
  }