.who-we-are-bg{

  height: auto;
  width:100%;

}
/* .who-we-are-heading {
  color: var(--text-white);
  font-size: 50px;
  font-weight: 600;
  margin-top: 30px;
} */

.who-we-are-Description {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 300 !important;
}

.back-btn {
  align-items: center;
  color: var(--text-white);

  h4 {
    font-size: 16px;
  }

  cursor: pointer;

}

.payment-select-method{
   h3{
    color: #fff;
    font-size: 16px;
   }
}
.cutom-input{
  
   background-color: #ffffff14;
   outline: none;
   color: #fff;
    font-size: 14px;
    border: 1px solid #ffffff57;
    border-radius: 8px;
    padding: 10px;
}
.payment-items{
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ffffff57;
  border-radius: 12px;
  padding: 10px 15px;
  p{
    font-size: 14px ;
    color: #fff;
    padding-left: 6px;
  }
}
.payment-details{
  p{
    font-size: 16px ;
    margin-left: 6px;
    color: #fff;
  }
 input {
   border: none;
   background-color: #ffffff14;
   outline: none;
   color: #fff;
    font-size: 14px;
    border: 1px solid #ffffff57;
    border-radius: 8px;
    padding: 10px;
  }
  .custom_elements{
    margin-top: 13px;
    border: none;
      background: transparent;
      outline: none;
      color: #fff;
      font-size: 14px;
      border-bottom: 1px solid #ffffff57;
      padding-bottom: 10px;
  }

 label {
   color: #fff;
   font-size: 14px;
 }

}
