.page-wrapper {
  background: url(./../../assets/signinleftBg.png);
  background-repeat: repeat-y;
  background-size: cover;
  height: auto;
}
.grid-container {
  display:flex;
  /* Responsive grid */
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
  /* Spacing between items */
  padding: 16px;
}
.slider_main-heading {
  margin-top: 40px;
  color: #fff;
  font-weight: 800;
}

.single-categoryq {
  background-color: #232323;
  color: #fff;
  font-size: 14px;
  padding: 3px 13px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff4d
}

.solid-btn-circle {
  background-color: #4b4b4b;
  color: #fff;
  font-size: 14px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff4d;
  width: 30px;
  cursor: pointer;

}

.quantity-count {
  width: 40px;
  height: 25px;
  border-radius: 5px !important;
  border: none;
  outline: none;
  font-size: 14px;
  margin: auto 7px;
  padding-right: 5px;


}

.Search{

  h4{
  font-size: 16px ;
  color: #fff;
  width: 100%;

}
input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff4d;
    font-size: 16px;
    margin-top: 54px;
    width: 100%;

  }

}
.newPlayerSlider {
  display: flex;

  overflow-x: scroll;



}
.players-grid{
   display: flex;
    align-items: center;
    justify-content: left;
   row-gap: 30px !important;
    flex-wrap: wrap;

  }
  .swipper_slider{
   height: auto !important;
   width: 100%;

  }
  .categories{
column-gap: 10px;
  }
  .single-category{
   background-color: #232323;
   color:#fff;
   font-size: 14px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center ;
    border: 1px solid #ffffff4d
  }
    .selected-cat{
      background: var(--primary-grad-color1);
    border:none;
    color: #232323

  }
  .profile-header-bg {
    background: linear-gradient(to right, #F27825, #D1244d); /* Example gradient, replace with actual Basic Profile gradient */
    padding: 20px 0; /* Adjust padding as needed */
    height: 100px
  }