.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffffbd;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.text-white1{
  color: #ffffffd1;
}

.title {
  color: #2c3e50;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
p, li{
  font-size: 1rem !important;
  color: #ffffffbd;

}

.welcome-text {
  color: #7f8c8d;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #3498db;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background: #2980b9;
}

.signup-text {
  text-align: center;
  margin-top: 1.5rem;
  color: #7f8c8d;
}

.signup-link {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Mobile Responsive Styles */
@media (max-width: 480px) {
  .login-container {
    margin: 1rem;
    padding: 1.5rem;
  }
}




ul {
  list-style-type: disc;
}

